<h1> <%= @restaurant.name %></h1>
<h3> <%= @restaurant.status %> </h3>

<hr />

  <span> Food Type:</span>
  <span> <%= @restaurant.food_type %> </span>
  <br>
  <span> Cost Rating:</span>
  <span> <%= @restaurant.cost_rating %> </span>
  <br>
  <span> Open:</span>
  <span> <%= @restaurant.open %> </span>
  <br>
  <span> Offers Take Out:</span>
  <span> <%= @restaurant.take_out %> </span>
  <br>
  <span> Has Alcohol:</span>
  <span> <%= @restaurant.alcohol %> </span>

<hr />

<%= link_to 'Edit', edit_city_restaurant_path(@city, @restuarant)%>
<%= link_to 'Delete', city_resaurant_path(@city, @restaurant), method: :delete, data:{confirm: 'Really delete?'} %>
<%= link_to "#{@city.name} restaurants", city_restaurants_path(@city) %>
